.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  #input-container {
    position: relative;
    height: min-content;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  input {
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 12px;
      width: 12px;
      z-index: 5;
      border-radius: 50%;
    }
    &::-moz-range-thumb {
      -webkit-appearance: none;
      height: 12px;
      width: 12px;
      z-index: 5;
      border-radius: 50%;
    }
  }
  p {
    padding: 1rem;
  }
}

#played-percentage {
  position: absolute;
  pointer-events: none;
  z-index: -9;
  height: 10px;
  border-radius: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  margin-top: auto;
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }

  .play-control {
    width: 60%;
  }
}
